<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html">
<div layout:fragment="mainFragment">
    <div class="container text-center">
        <div class="row">
            <div class="col" layout:fragment="signFragment">

            </div>
            <div class="col">
                <p  style="text-align: left" >Macbook pro</p>
                <p style="text-align: left">Great Notebook</p>
                <button style="text-align: left; display: block; font-size: 17px; border: none; background-color: #0042ff; color: white; padding: 3px 7px; border-radius: 5px;">
                    Buy Now
                </button>

            </div>
            <div class="col">
                <p style="text-align: left">Macbook pro</p>
                <p style="text-align: left">Great Notebook</p>
                <button style="text-align: left; display: block; font-size: 17px; border: none; background-color: #0042ff; color: white; padding: 3px 7px; border-radius: 5px;">
                    Buy Now
                </button>

            </div>
            <div class="col">
                <p style="text-align: left">Macbook pro</p>
                <p style="text-align: left">Great Notebook</p>
                <button style="text-align: left; display: block; font-size: 17px; border: none; background-color: #0042ff; color: white; padding: 3px 7px; border-radius: 5px;">
                    Buy Now
                </button>
        </div>
            <div class="col">
                <p style="text-align: left">Macbook pro</p>
                <p style="text-align: left">Great Notebook</p>
                <button style="text-align: left; display: block; font-size: 17px; border: none; background-color: #0042ff; color: white; padding: 3px 7px; border-radius: 5px;">
                    Buy Now
                </button>
    </div>
</div>
    </div>
</div>
</html>